
*.cmake
*.xml
*.ninja
.idea/.name
.idea/misc.xml
.idea/workspace.xml
bin/Debug/main.exe
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.29.6/CompilerIdC/a.exe
cmake-build-debug/CMakeFiles/3.29.6/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.29.6/CompilerIdCXX/a.exe
cmake-build-debug/CMakeFiles/3.29.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/CMakeFiles/main.dir/src/glad.c.obj
cmake-build-debug/CMakeFiles/main.dir/src/main.cpp.obj
cmake-build-debug/CMakeFiles/main.dir/src/textrendering.cpp.obj
cmake-build-debug/CMakeFiles/main.dir/src/tiny_obj_loader.cpp.obj
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/Testing/Temporary/LastTest.log
*.xml
.idea/misc.xml
.idea/workspace.xml
CMakeLists.txt
.idea/misc.xml
.idea/workspace.xml
CMakeLists.txt
CMakeLists.txt
.idea/workspace.xml
.idea/misc.xml
